{%- macro vandaag() -%}
{{- {'Monday': 'maandag', 'Tuesday': 'dinsdag', 'Wednesday': 'woensdag', 'Thursday': 'donderdag', 'Friday': 'vrijdag', 'Saturday': 'zaterdag', 'Sunday': 'zondag'}[now().strftime('%A')] -}}
{%- endmacro -%}
