{% macro uitgesproken_tijd(tijdstip) %}
  {%- set uren, minuten = tijdstip.split(':') | map('int') | list -%}
  {%- set uitgesproken_klokuur = (uren % 12) or 12 -%}
  {%- set uitgesproken_volgend_uur = ((uren + 1) % 12) or 12 -%}
  {%- if minuten == 0 -%}
    {{ uitgesproken_klokuur }} uur
  {%- elif minuten in [29, 59] -%}
    1 minuut voor {{ 'half ' if minuten == 29 }}{{ uitgesproken_volgend_uur }}
  {%- elif minuten in [15, 45] -%}
    kwart {{ 'over ' ~ uitgesproken_klokuur if minuten == 15 else 'voor ' ~ uitgesproken_volgend_uur }}
  {%- elif minuten == 30 -%}
    half {{ uitgesproken_volgend_uur }}
  {%- elif 16 <= minuten < 31 -%}
    {{ 30 - minuten }} minuten voor half {{ uitgesproken_volgend_uur }}
  {%- elif 31 <= minuten < 45 -%}
    {{ minuten - 30 }} over half {{ uitgesproken_volgend_uur }}
  {%- elif minuten < 30 -%}
    {{ minuten }} over {{ uitgesproken_klokuur }}
  {%- else -%}
    {{ 60 - minuten }} minuten voor {{ uitgesproken_volgend_uur }}
  {%- endif -%}
{% endmacro %}

{%- macro tijdverschil(tijdstip) -%}
  {%- set verschil = (now() - today_at(tijdstip)).seconds -%}
  {%- set uren = verschil // 3600 -%}
  {%- set minuten = (verschil % 3600) // 60 -%}
  {%- if uren > 0 -%}
  {{ uren }} uur en {{ minuten }} {{ 'minuut' if minuten == 1 else 'minuten'}} geleden
  {%- elif minuten > 0 -%}
  {{ minuten }} {{ 'minuut' if minuten == 1 else 'minuten'}} geleden
  {%- else -%}
  zojuist
  {%- endif -%}
{%- endmacro -%}